@font-face {
  font-family: "RedHat";
  src: url(../assets/fonts/static/RedHatText-Regular.woff) format('woff'), url(../assets/fonts/static/RedHatText-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RedHat";
  src: url(../assets/fonts/static/RedHatText-SemiBold.woff) format('woff'), url(../assets/fonts/static/RedHatText-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "RedHat";
  src: url(../assets/fonts/static/RedHatText-Bold.woff) format('woff'), url(../assets/fonts/static/RedHatText-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --font-family: 'RedHat';
  --primary-color: hsl(35, 55%, 96%);
  --accent-color: hsl(0, 26%, 25%);
  --text-color-1: hsl(0, 0%, 0%);
  --text-color-2: hsl(14, 86%, 42%);
  --text-color-3: hsl(0, 0%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
}

.layout {
  display: flex;
  padding: 5rem;
}

.container {
  width: 100%;
}

.container .items {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.container .title {
  font-size: 32px;
}

.container .items .item-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 50px;
}

.container .items .item-card .image-button {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.container .items .item-card .image-button img {
  width: 20rem;
  height: auto;
  border-radius: 8px;
}

.container .items .item-card .add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 60%;
  top: 92%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  padding: 8px 10px;
  border: 1px solid var(--accent-color);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
  cursor: pointer;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.container .items .item-card .add-to-cart-button img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.container .items .item-card .clicked span {
  width: 100%;
}

.container .items .item-card .clicked {
  background-color: var(--text-color-2);
  color: #fff;
}

.container .items .item-card .clicked .svg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  cursor: pointer;
}

.container .items .item-card .clicked .svg:hover {
  background-color: #fff;
}

.container .items .item-card .clicked .svg:hover svg path {
  fill: var(--text-color-2);
}

.container .sub-text {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
}

.container .sub-text small {
  color: var(--text-color-3);
}

.container .sub-text .sub-title {
  color: var(--text-color-1);
  font-weight: 600;
}

.container .sub-text .price {
  color: var(--text-color-2);
  font-weight: 600;
}

.cart {
  width: 50%;
}

.cart .card {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 1rem;
  margin-left: 2rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.cart .card .title {
  color: var(--text-color-2);
}

.cart .card .empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.cart .card .filled-cart {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}

.cart .card .filled-cart .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}

.cart .card .filled-cart .menu-detail .menu-name {
  font-weight: 600;
}

.cart .card .filled-cart .menu-detail .menu-name {
  font-weight: 600;
}

.cart .card .filled-cart .menu-detail .quantity {
  font-weight: 600;
  color: var(--text-color-2);
  margin-right: 1rem;
}

.cart .card .filled-cart .menu-detail .total-price {
  font-weight: 600;
}

.cart .card .filled-cart img {
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  cursor: pointer;
}

.cart .card .filled-cart .divider {
  width: 100%;
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

.cart .card .total-cart {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 1rem 0;
}

.cart .card .total-cart .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.cart .card .total-cart .delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: var(--primary-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.cart .card .total-cart .cart-button {
  color: #fff;
  background-color: var(--text-color-2);
  width: 100%;
  margin-top: 1rem;
  padding: 8px 10px;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
  cursor: pointer;
  border: 1px solid var(--text-color-2);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}